@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("../styles/common/datepicker.css");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.layout_select {
  background-image: url("/icons/selectbox_arrow.svg");
  background-size: auto;
}

/* 스크롤바의 모양을 정의 */
::-webkit-scrollbar {
  width: 10px; /* 스크롤바의 너비 */
}

/* 스크롤바의 track 부분(배경)을 정의 */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* 스크롤바의 배경색 */
}

/* 스크롤바의 thumb 부분(드래그 가능한 부분)을 정의 */
::-webkit-scrollbar-thumb {
  background: #c1c1c1; /* 스크롤바의 색상 */
  border-radius: 5px; /* 스크롤바의 모서리 반경 */
}

/* 스크롤바가 마우스 오버됐을 때의 thumb 부분의 색상을 정의 */
::-webkit-scrollbar-thumb:hover {
  background: #c6e19b; /* 마우스 오버시 색상 */
}

/* antd time-picker custom */
.ant-picker:hover {
  outline: none;
  border: none;
  cursor: pointer;
}

.ant-picker {
  outline: none;
  border: none;
  font-weight: 700;
}

.ant-picker-input input {
  cursor: pointer;
}

.ant-picker-time-panel-column {
  width: 90px !important;
}

.ant-picker-ok button {
  background: #fff;
  color: #8dbe3d;
  box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.25);
}

.ant-picker-ok button:hover {
  background: #c6e19b !important;
  color: #fff;
  box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.25);
}

.ant-picker-now a:hover {
  color: #c6e19b;
}

.ant-picker-time-panel-cell-selected .ant-picker-time-panel-cell-inner {
  background-color: #eff7e1 !important;
}

/* Full Calendar Custom */

.fc button {
  background-color: #fff;
  border: none;
}

.fc .fc-button-primary {
  background-color: #fff;
  color: #6c757d;
  border: none;
}

.fc .fc-button-primary:hover {
  background-color: #fff;
  color: #000;
  border: none;
}

.fc .fc-button {
  background-color: #fff !important;
}

.fc .fc-button-primary:focus,
.fc .fc-button-primary:active {
  background-color: #fff;
  border: none;
  outline: none !important;
  box-shadow: none !important;
}

.fc .fc-daygrid-day {
  height: 134px;
}

.fc .fc-day-today {
  background-color: #e5f6c9 !important;
}

.fc .fc-daygrid-day:hover {
  cursor: pointer;
  background-color: #f3f0f0 !important;
}

/*
.fc-day-sun {
  color: red;
}

.fc-day-sat {
  color: blue;
}
*/

.MuiButtonBase-root svg {
  width: 10px;
}

.slide > div:nth-child(1) > div:nth-child(4) {
  margin-top: 0px;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid #4d73ba;
  margin-top: -9px;
  background: #ffffff;
}

.slider::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 0.5rem;
}

.slider:disabled {
  cursor: default;
}

.slider {
  accent-color: #fff;
}

@layer components {
  .body-heavy {
    @apply font-inter text-body-heavy text-left;
  }
}
